asgiref==3.2.10
boto3==1.28.85
botocore==1.31.85
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==3.1
django-cors-headers==3.11.0
djangorestframework==3.14.0
ecdsa==0.18.0
google-auth==2.29.0
idna==3.4
jmespath==1.0.1
lunarcalendar==0.0.9
mysqlclient==2.1.1
pyasn1==0.5.0
pycparser==2.21
PyJWT==2.6.0  # direct dependency (apis/services/jwt_tokens.py); used to arrive via django-oauth-toolkit
python-dateutil==2.9.0.post0
python-jose==3.3.0
pytz==2023.2
requests==2.29.0
rsa==4.9
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.15
django-object-actions
gunicorn==20.1.0
